<!--footer 現在訂閱，獲得課程優惠碼！-->
<footer class="bg-primary pt-6 pt-md-8 pb-8">
  <div class="container">
    <div class="row d-block d-lg-none">
      <div class="col-md-7">
        <h4 class="text-white text-md-start fz-md-7 mb-2">現在訂閱，獲得課程優惠碼！</h4>
        <div class="input-group mb-3 interButton">
          <input 
            type="email" 
            name="Email" 
            id="subscriptionEmail"
            class="form-control text-secondary js-subscription-email" 
            placeholder="輸入您的電子信箱" 
            aria-label="輸入您的電子信箱"
            aria-describedby="訂閱信箱"
          >
          <button class="btn btn-secondary text-white js-subscription-btn border-0" type="button">
            訂閱
          </button>
        </div>
        <div class="row">
          <div class="col">
            <p class="js-subscription-email-msg validate-msg validate-msg-white text-danger text-start fz-4">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-none d-lg-block d-lg-flex justify-content-lg-between align-items-center">
      <div class="col-lg-4">
        <h4 class="text-white fz-lg-5">現在訂閱，獲得課程優惠碼！</h4>
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <input 
            type="email" 
            name="Email" 
            id="subscriptionEmail"
            class="form-control text-secondary js-subscription-email" 
            placeholder="輸入您的電子信箱" 
            aria-label="輸入您的電子信箱"
            aria-describedby="訂閱信箱"
          >
          <button class="btn btn-secondary text-white js-subscription-btn border-0" type="button" disabled>
            訂閱
          </button>
        </div>
        <div class="row">
          <div class="col">
            <p class="js-subscription-email-msg validate-msg validate-msg-white text-danger text-start fz-4">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border border-white my-6 my-md-8"></div>

  <div class="container">
    <div class="d-flex justify-content-between align-items-flex-start">
      <a href="./index.html">
        <h4 class="text-white fw-bolder useHover_2 mb-md-3">DOYOGA</h4>
      </a>
      <div class="d-flex">
        <li class="mb-2"><a href="https://zh-tw.facebook.com/facebook/" class="useHover_2 text-white"><i
              class="fab fa-facebook fIcon"></i></a></li>
        <li class="mb-2"><a href="https://business.instagram.com/getting-started?locale=zh_TW"
            class="useHover_2 text-white"><i class="fab fa-line fIcon"></i></a></li>
        <li><a href="https://linecorp.com/zh-hant/" class="useHover_2 text-white"><i
              class="fab fa-instagram fIcon"></i></a></li>
      </div>
    </div>
    <div class="row">
      <ul class="col-md-2">
        <li class="mb-2"><a href="./course.html" class="text-white useHover_2">課程介紹</a></li>
        <li class="mb-2"><a href="./surroundings.html" class="text-white useHover_2">瑜珈空間</a></li>
        <li class="mb-2 mb-md-0"><a href="./curriculum.html" class="text-white useHover_2">當月課表</a></li>
      </ul>
      <div class="d-block d-md-none">
        <p class="text-white">
          © 2021. All Rights Reserved.
        </p>
      </div>
      <div class="col-md-9 position-relative d-none d-md-block">
        <p class="text-white text-center position-absolute top-100 start-50 translate-middle">
          © 2021. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>