<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light_2">
  <div class="container">
    <!--logo-->
    <a class="navbar-brand font_carlmarx text-secondary fz-8 useHover_dark" href="./index.html">DOYOGA</a>
    <!--漢堡選單-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons material-icons-round text-primary">reorder</span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center flex-grow-1" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item me-lg-8">
          <a class="nav-link text-dark_2 useHover_1 text-center" aria-current="page" href="./course.html">課程介紹</a>
        </li>
        <li class="nav-item me-lg-8">
          <a class="nav-link text-dark_2 useHover_1 text-center" href="./surroundings.html">瑜珈空間</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark_2 useHover_1 text-center" href="./curriculum.html">當月課表</a>
        </li>
      </ul>
      <!--mobile版-->
      <div class="d-flex d-block d-lg-none justify-content-center">
        <a class="btn btn-outline-primary rounded-pill me-4" type="submit" href="./reservation-choose.html">立即預約</a>
        <a class="btn btn-outline-primary ms-lg-4 rounded-pill" type="submit" href="./contactUs.html">聯絡我們</a>
      </div>
    </div>
    <!--pc版-->
    <div class="d-flex d-none d-lg-block">
      <a class="btn btn-outline-primary rounded-pill" type="submit" href="./reservation-choose.html">立即預約</a>
      <a class="btn btn-outline-primary ms-lg-4 rounded-pill" type="submit" href="./contactUs.html">聯絡我們</a>
    </div>
  </div>
</nav>