/*banner_index*/
.banner_index {
  // background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true');
  min-height: calc(100vh - 80px); //減掉 navbar的高度
  // background-attachment: fixed; //固定背景圖不要滾動，ios不支援
  // background-position: center center;
  clip-path: inset(0); //讓超出的範圍都被剪裁掉
}

//用偽元素的方式做出背景固定不變的效果
.banner_index:before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true') bottom center no-repeat;
  background-size: cover;
}



/*感受身心，活在當下*/
.img-md{
  min-height: 420px;
  @include media-breakpoint-up(md) {
    min-height: 252px;
  }
  @include media-breakpoint-up(lg) {
    min-height: 420px;
  }
}

/*頂尖師資、專業教學*/
.lyingDown_pic{
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg?raw=true');
  height: 628px;
  border-radius: 16px;
}

.head_pic{
  width: 48px;
  height: 48px;
  @include media-breakpoint-up(md) {
    width: 94px;
    height: 94px;
  }
}
.head_pic_2{
  width: 48px;
  height: 48px;
  @include media-breakpoint-up(md) {
    width: 68px;
    height: 68px;
  }
}
//負值
.ms-lg-n2{
  margin-left: 0% !important;
  @include media-breakpoint-up(lg){
    margin-left: -16% !important;
  }
}

.teacher{
  @include media-breakpoint-down(md){
    &-founder{
        margin-left: 0px;
    }
  }
}
